body {
    background-image: url('file:///C:/Users/Jay%20Prince/OneDrive/Desktop/RizalWeb/Image/Bckground%202.gif');
background-size: cover;  
background-position: center; 
background-repeat: no-repeat; 
height: 100vh; 
margin: 0; 
display: flex;
justify-content: center;
align-items: center;
font-size: x-large;
}

.panel {
    display: flex;
    align-items: center;   
    background-color: rgba(255, 255, 255, 0.354);
}