body {
    background-image: url('../Image/Bckground%202.gif');
    background-size: cover;  
    background-position: center; 
    background-repeat: no-repeat; 
    height: 100vh; 
    margin: 0; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
}

h1 {
    font-size: 4rem;
    margin-bottom: 2rem;
}

button {
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: rgb(255, 217, 0);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: rgb(198, 169, 4);
}
